@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("../public/space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 7rem;
}

button {
  background-color: #77ef77;
  padding: 1rem;
  font-size: 2rem;
  font-family: monospace;
  border: 0.5rem solid #12bc4b;
  border-radius: 3rem;

  &:hover {
    cursor: pointer;
  }
}

@keyframes floatAndFade {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px) scale(1.5);
  }
}

.floating-symbol {
  position: absolute;
  font-size: 7rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
  pointer-events: none;
  user-select: none;
  animation: floatAndFade 2s ease-out forwards;
}

.keys-count {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid green;
  border-radius: 1rem;
  padding: 1rem;
  background-color: orange;
  margin: 0.5rem;
}
